@import url(https://fonts.googleapis.com/css?family=Mate+SC);


body {
	overflow:hidden;
  background: #55A1C8 url(images/login2.jpg) no-repeat fixed;
  background-size: cover;
  box-sizing: border-box;
  color:#757575;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

#container {
/*	height: 400px;*/
	width: 320px;
}

#floater {
    float: left;
    height: 50%;
    width: 100%;

}

#form-login {
    min-height: 100vh;
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    box-sizing: border-box;
    color: #f8f8f8;
/*    font-family: 'Open Sans',sans-serif;*/
    background: url(images/bg-white.png);
    min-width: 300px;
    border-right:5px solid #ddd;
}

#form-login .appname {
    margin-top: 30px;
    font-size: 40px;
    color: #fff;
    font-family: "Mate SC";
}
#form-login .title {
    font-family: 'Segoe UI', sans-serif;
    color:#f8f8f8;
}
#form-login form {
    margin: 30px 0;
}

#form-login input {
    padding:7px;
    height: 42px;
    border: none;
    width: 100%;
    display: block;
/*    text-align: center;*/
    margin-bottom: 10px;
        box-sizing: border-box;
}

#form-login input[type="submit"] {
    color: #fff;
    background-color: #039BE5;
    cursor: pointer;
}
#form-login input[type="submit"]:hover {
    background-color: #007aff;
}

#form-login .footer {
    font-size: 12px;
    color: #757575;
}

.is-hidden {
  display: none;
}

#msg-login {
    background: #881919;
    text-align: center;
    color: #FBADAD;
    font: italic 12px sans-serif;
    padding: 10px;
    position: absolute;
    width: 300px;
}

#loading-login {
    margin-top: 300px;
}

/* Loading Animation */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
